# /public/.htaccess

# Enable RewriteEngine
RewriteEngine On

# Redirect all requests to index.php except actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

php_value file_uploads On
php_value upload_max_filesize 10M
php_value post_max_size 12M
php_value max_execution_time 300
php_value max_input_time 300
# php_value upload_tmp_dir /uploads